.leftSide{
   background-image: url(src/photo_2024-04-25_21-10-44.jpg);
   background-size: cover;
}

.headerInLeftSide{
   display: grid;
   grid-template-columns: 1fr;
   font-size: 40px;
   font-weight: 800;
   padding-bottom: 60px;
}

.textLeftSide{
   color: white;
   padding-left: 27%;
   margin-top: 19px;
   width: 500px;
}

.first{
   margin-left: 30px;
}

.secondPart{
   margin-left: 90px;
}

.discription{
   font-weight: 200;
}

.boxLogoAndImage {
   display: flex;
   flex-direction: column;
   gap: 76px 0;
   align-items: center;
   padding-top: 80px;
}
